#player {
	h2 {
		height: 40px;
		font-size: 14px;
	}
	
	.controls {
		text-align: center;
	}
	
	.btn-group {
		margin-bottom: 10px;
	}
}

#playlist {
	
	a, small {
		dispaly: block;
	}
	
	small {
		font-size: 10px;
		text-align: right;
	}
	
	ol {
		margin: 0px;
		padding: 0px;
	}
	
	.current {
		background: #ddd;
	}
	
}