<!DOCTYPE html>
<html ng-app="deezerpp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Deezer++</title>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
	<link rel="stylesheet/less" type="text/css" href="css/style.less" />
	
	<!-- TOOLS -->
	<script type="text/javascript" src="js/less-1.4.1.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	<script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
	
	<!-- APP -->
	<script type="text/javascript" src="js/app/app.js"></script>
	<script type="text/javascript" src="js/app/config.js"></script>
	<script type="text/javascript" src="js/app/filters.js"></script>
	<script type="text/javascript" src="js/app/controllers/album.js"></script>
	<script type="text/javascript" src="js/app/controllers/artist.js"></script>
	<script type="text/javascript" src="js/app/controllers/player.js"></script>
	<script type="text/javascript" src="js/app/controllers/search.js"></script>
	<script type="text/javascript" src="js/app/services/deezer-api.js"></script>
	<script type="text/javascript" src="js/app/services/deezer-player.js"></script>
	<script type="text/javascript" src="js/app/services/playlist.js"></script>
</head>
<body>

<nav class="navbar" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Deezer++</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="#/search">Search</a></li>
		</ul>
	</div>
</nav>

<div class="container row">
	<!-- content -->
	<div ng-view class="content col-md-7 col-lg-7">
		content
	</div>
	
	<!-- player -->
	<section ng-controller="PlayerController" id="player" class="col-md-5 col-md-5">
		<!-- deezer stuff -->
		<div id="dz-root"></div>
		
		<h2>{{playlist[position].title}}</h2>
		
		<!-- player controls -->
		<section class="controls">
			<div class="btn-group btn-group-lg">
				<button ng-click="playPrev($event)" class="btn btn-default">Prev</button>
				<button ng-click="play($event)" ng-show="paused || (!paused && !playing)" class="btn btn-default">Play</button>
				<button ng-click="pause($event)" ng-show="playing" class="btn btn-default">Pause</button>
				<button ng-click="playNext($event)" class="btn btn-default">Next</button>
			</div>
			<div class="progress progress-striped" ng-class="{active: playing}">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{current.seek}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: current.seek+'%'}"></div>
			</div>
		</section>
		
		<!-- playlist -->
		<ol ng-show="playlist" id="playlist">
			<li ng-repeat="song in playlist" ng-class="{current: ($index==position)}">
				<a href="#" ng-click="playSelected($index, $event)">{{song.title|substr:50}}</a>
				<small>{{song.artist.name}}</small>
			</li>
		</ol>
	</section>
</div>

</body>
</html>