<section id="album-page">
	<header class="clearfix">
		<img ng-src="{{album.cover}}?size=medium" class="thumbnail pull-left" alt="">
	
		<h2>
			{{album.title}}
			<small>by <a href="#/artist/{{album.artist.id}}">{{album.artist.name}}</a></small>
		</h2>
		
		<small>{{album.label}} | {{album.release_date}}</small>
		
		<div>
			<button ng-click="playNow($event)" class="btn btn-default">
				<span class="glyphicon glyphicon-play"></span> Play now
			</button>
			<button ng-click="playLast($event)" class="btn btn-default">
				<span class="glyphicon glyphicon-plus-sign"></span> Play last
			</button>
		</div>
	</header>
	
	<h3>Tracks</h3>
	
	<table class="table">
		<tr>
			<th class="tbl-pos">#</th>
			<th class="tbl-title">title</th>
			<th class="tbl-time">duration</th>
		</tr>
		<tr ng-repeat="track in album.tracks.data" ng-class="{warning: !track.readable}">
			<td class="tbl-pos">{{$index+1}}.</td>
			<td class="tbl-title">
				<span class="action">
					<button ng-click="playSingleNow($index, $event)" class="btn btn-xs">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button ng-click="playSingleLast($index, $event)" class="btn btn-xs">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</button>
				</span>

				{{track.title}}
			</td>
			<td class="tbl-time">{{track.duration * 1000 | date:'mm:ss'}}</td>
		</tr>
	</table>
</section>