<section id="artist-page">
	<header class="main clearfix">
		<img ng-src="{{artist.picture}}?size=medium" class="thumbnail pull-left" alt="">
		<h2>{{artist.name}}</h2>
	</header>
	
	<h3>Albums</h3>
	
	<article ng-repeat="album in albums" class="album clearfix">
		<a href="#/album/{{album.id}}" title="{{album.title}}">
			<img ng-src="{{album.cover}}?size=small" class="thumbnail pull-left" />
			<h4>{{album.title}}</h4>
		</a>
		<div class="actions">
			<button ng-click="playNow(album.id, $event)" class="btn btn-sm" title="Play now">
				<span class="glyphicon glyphicon-play"></span>
			</button>
			<button ng-click="playLast(album.id, $event)" class="btn btn-sm" title="Play last">
				<span class="glyphicon glyphicon-plus-sign"></span>
			</button>
		</div>
	</article>
</section>